
.menu-spacer {
  width: 100%;
  height: 60px;
}

.rh-medium-red {
	background-color: #A30000;
}

@font-face {
    font-family: Overpass-Regular;
    src: url('fonts/overpass_regular-webfont.ttf');
}
@font-face {
    font-family: Overpass-Light;
    src: url('fonts/overpass_light-webfont.ttf');
}
@font-face {
    font-family: Overpass-Bold;
    src: url('fonts/overpass_bold-webfont.ttf');
}

* {
    font-size: 16px;
    font-family: Overpass-Light;
}

h1, h2, h3, h4 {
	font-family: Overpass-Normal;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.ui-field-contain .ui-btn.ui-submit {
	width: 25%;
}

.side-by-side {
	display: inline-block;
}

#recipient-account-boilerplate {
	size: 10; 
	width:70px;
}

#recipient-account {
	size: 3;
	width: 30px;
}

#how-much-cents {
	size: 2;
	width: 30px;
}

#how-much {
	size: 6;
	width: 90px;
}

.header-fullname {
	display:inline-block; 
	position: absolute; 
	top: 13px; 
	right: 20px;
}

.balance-box {
	color:white; 
	border-radius: 10px;
	text-shadow: 0 #fff;
}

th, td {
	padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.grayRow {
	background-color: lightgray;
}

.transactionsTable tr:nth-child(odd) {
	background-color: lightgray;
}

.transactionsTable thead tr:nth-child(1), .transactionsTable thead tr:nth-child(3) {
	background-color: transparent;
}

/* #app { */
/*     width: inherit; */
/*     height: inherit; */
/* } */
/* #count { */
/*     margin-top:50px; */
/* } */
/* header { */
/*     position: absolute; */
/*     top:0; */
/*     left: 0; */
/*     width: 100%; */
/* } */
/* .center > h3 { */
/*     color: #ffffff; */
/*     letter-spacing: 2px; */
/*     font-family: OS-Light; */
/*     font-size: 1.5em; */
/* } */
/* .center > h3 > small { */
/*     color: #ffffff; */
/*     letter-spacing: 2px; */
/*     font-family: OS-Light; */
/* } */
/* .header-footer-bg { */
/*     background-color: #7ea1b6; */
/* } */
/* footer { */
/*     position: absolute; */
/*     bottom:0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 5%; */
/*     color: #ffffff; */
/* } */
/* footer > div > small { */
/*     padding-top: 8px; */
/*     padding-right: 10px; */
/* } */
/* .left { */
/*     float: left; */
/* } */
/* .right { */
/*     float: right; */
/* } */
/* .clear { */
/*     clear: both; */
/* } */
/* .center { */
/*     text-align: center; */
/* } */


/* /* */
/*  *  CUSTOM STYLING */
/*  */ */

/* #description { */
/*     text-align: justify; */
/*     position: relative; */
/*     padding-top: 40px; */
/*     font-size: 1.5em; */
/* } */
/* .input-group { */
/*     display: block; */
/* } */

/* .cloudResponse { */
/*     font-size: 2em; */

/*     font-weight: bold; */
/*     text-align: center; */
/* } */

/* .say-hello-button { */
/*     width: 100%; */

/*     margin: 5px 0px 5px 0px; */
/*     padding: 5px 5px 5px 5px; */
/*     font-size: 1.6em; */
/*     background-color: #4a87ee; */
/*     border: 1px solid #216CEC; */
/*     color: #fff; */
/* } */

/* .input-text{ */
/*     width: 100%; */

/*     font-size: 2em; */
/*     margin: 0px; */
/*     padding: 0px 0px 0px 5px; */
/*     border: 1px solid #000000; */
/*     box-sizing: border-box; */
/* } */

/* .input-div { */
/*     width: 100%; */

/*     padding: 5px 0px 5px 0px; */
/* } */